<div class="container margin50">
  <div class="row">
    <div class="span6 offset3 cf formBackground">
      <h1>CoverArt Finder</h1>
      <form action="/results" method="get">
        <input type="text" name="search" id="search" placeholder="Enter Film Name or Album Name Here....."><br>
        <div class="labelTag">
          <label for="Movie">Movie</label>
          <input checked="checked" id="submit_type_movie" name="submit_type" type="radio" value="movie" />
          <label for="Album">Album</label>
          <input id="submit_type_album" name="submit_type" type="radio" value="album" />
        </div>
        <input id="submitForm" name="commit" type="submit" value="search" />
      </form>
    </div>
  </div>
</div>